# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /my35alerts/zim-zam
RewriteRule ^index\.php$ - [L]


RewriteRule ^styles - [L]
RewriteRule ^css - [L]
RewriteRule ^js - [L]
RewriteRule ^javascript - [L]
RewriteRule ^images - [L]
RewriteRule ^temp - [L]
RewriteRule php$ /index.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]
</IfModule>


<FilesMatch "uploads">
  Header set Cache-Control "max-age=864000, public, must-revalidate"
  Header unset Last-Modified
</FilesMatch>



# END WordPress
