body.new-coupon fieldset label {  }
body.new-coupon fieldset label input {  }

body.new-coupon table#coupons td { border: 1px solid blue; }
body.new-coupon textarea { width: 50%; height: 5em; }

body.new-vendor #vendors table td img { width: 80px; }

body.home #results table td img { width: 80px; }


.zigzag { width: 20px; }
.concept-list { list-style-type: none; }

.involved-concepts th:nth-child(2) { width: 16%; }
.all-concepts th:nth-child(2) { width: 16%; }



#search-wrap .search-query { width: 80%; }

.concept-search-result { background: #fff0ba; border-bottom: 1px solid #bfb08b; border-right: 1px solid #bfb08b;   padding: 0.3em 1.3em; clear: both; }
.concept-search-result span { padding: 0 1em; }

.handle { border-radius: 1em; margin-left: 1em; background: #0af; cursor: pointer }

ul.search-results { list-style-type: none; line-height: 2em; margin: 0; padding: 0; }
ul.search-results li { list-style-type: none; line-height: 2em; }


#gallery-wrap .thumb-2 { width: 49%; }
#gallery-wrap .thumb-3 { width: 32%; }
#gallery-wrap .thumb-4 { width: 24%; }
#gallery-wrap .thumb-5 { width: 19%; }
#gallery-wrap .thumb-6 { width: 15%; }


#gallery-wrap .tile:hover { background: red; color: white; cursor: pointer; }
#gallery-wrap .tile:hover a { background: red; color: white; cursor: pointer; }